{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- Title Block -->
{% block title_block %}
    {% if category %}
        <!-- Add a Category -->
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

<!-- Body Block -->
{% block body_block %}
    {% if category %}
    <h1>{{category.name}}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <!-- PAGE LISTING -->
        <li><a href="{{page.url}}">{{page.title}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    <!-- ADD PAGE -->
    <a href="{% url 'rango:add_page' category_name_slug=category.slug %}">Add Page</a><br/>
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}
